#aboutus .about-block {
	padding: 70px 0px 100px 0px;
	background: #ffffff;
}

#aboutus .about-block .thumbnail {
    height: 40vh;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

#aboutus .about-block .thumbnail::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    linear-gradient(180deg, rgb(39 114 107 / 30%) 0%, rgb(2 128 144 / 30%) 29.69%, rgb(0 168 150 / 30%) 64.58%, rgb(5 102 141 / 30%) 100%);
}

#aboutus .about-block img.mission-vision {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

/* -------------team------------------ */
#aboutus .team-card h3,
#aboutus .team-card small{
	color: #ffffff;
	text-align: left;
	text-transform: capitalize;
}

#aboutus .team-card {
    width: 100%;
    height: 80vh;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

#aboutus .team-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    object-position: 25% 15%;
}

#aboutus .team-card .card-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.2) 2.09%, rgba(0, 0, 0, 0) 52.07%), 
    linear-gradient(180deg, rgba(39, 114, 107, 0.045) 20.83%, rgba(2, 128, 144, 0.075) 43.75%, rgba(0, 168, 150, 0.15) 71.87%, rgba(5, 102, 141, 0.3) 100%), 
    linear-gradient(360deg, rgba(0, 0, 0, 0.2) 2.09%, rgba(0, 0, 0, 0) 52.07%), linear-gradient(180deg, rgba(39, 114, 107, 0.045) 20.83%, rgba(2, 128, 144, 0.075) 43.75%, rgba(0, 168, 150, 0.15) 71.87%, rgba(5, 102, 141, 0.3) 100%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 2rem 1.5rem;
    z-index: 1;
}

@media screen and (max-width: 768px){
    #aboutus .team-card {
        height: 50vh;
    }
}