/* ---------------tabs link----------- */
#blogs .tab-links{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

#blogs .tab-links .tab-link{
	position: relative;
	cursor: pointer;
	padding: 0px 0px 3px 0px;
	text-align: center;
	margin-right: 20px;
}

#blogs .tab-links .tab-link:last-child{
	margin-right: 0px;
}

#blogs .tab-links .tab-link .active-line{
	position: absolute;
	height: 1px;
	width: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(90deg, #FFFFFF 0%, #05668D 26.56%, #02C29A 68.75%, #FFFFFF 100%);
	transform: scale(0);
	transition: all 0.50s ease-in-out 0s;
    -webkit-transition: all 0.50s ease-in-out 0s;
}

#blogs .tab-links .tab-link span {
	font-weight: 500;
	text-transform: capitalize;
	color: #000000;
}

#blogs .tab-links .tab-link:hover .active-line,
#blogs .tab-links .tab-link.active .active-line{
	transform: scale(1);
}

@media screen and (max-width: 1200px){}

@media screen and (max-width: 1100px){}

@media screen and (max-width: 1025px){}

@media screen and (max-width: 994px){}

@media screen and (max-width: 768px){}

@media screen and (max-width: 400px){}

/* ------------blogs card----------- */
#blogs .blog-card a, #blogs .blog-card p,
#blogs .blog-card span, #blogs .blog-card small{
    color: #000000;
}

#blogs .blog-card{
	border-radius: 15px;
	overflow: hidden;
	box-shadow: 4px 7px 13px 3px rgba(2, 128, 144, 0.2);
    transition: all 0.50s ease-in-out 0s;
    -webkit-transition: all 0.50s ease-in-out 0s;
}

#blogs .blog-card.hide{
	display: none;
}

#blogs .blog-card .row{
	margin-right: 0px!important;
    margin-left: 0px!important;
}

#blogs .blog-card .blog-thumb{
    height: 30vh;
    width: 100%;
    object-fit: cover;
}

#blogs .blog-card .blog-dets {
    padding: 15px 17px;
    height: 100%;
    text-align: left;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#blogs .blog-card .black-arrow-next{
    background: url('../images/icons/black-arrow-next.svg');
}

#blogs .blog-card .learn-more {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#blogs .blog-card .learn-more .black-arrow-next{
	top: 2px;
	transform: scale(0.8) translate(0px, 0px);
}

#blogs .blog-card:hover .learn-more .black-arrow-next{
	transform: scale(0.8) translate(10px, 0px);
}

#blogs .grid{
	display: grid;
    grid-template-columns: 1fr 1fr;
	grid-column-gap: 2rem;
	grid-row-gap: 3rem;
    margin-bottom: 7rem;
}

@media screen and (max-width: 994px){

	#blogs .grid{
		margin-bottom: 6rem;
	}

	#pagination-container {
		margin-bottom: 6rem;
	}

	#blogs .blog-card .blog-dets {
		padding: 25px 20px;
	}
}

@media screen and (max-width: 768px){
	#blogs .grid {
		grid-template-columns: 1fr;
	}
}

/* ------------pagination----------- */
#pagination-container {
	margin-bottom: 7rem;
    flex-wrap: wrap;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

#pagination-container,
#pagination-container span, 
#pagination-container a{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#pagination-container span, 
#pagination-container a{
	cursor: pointer;
	height: 30px;
    width: 30px;
	padding: 0px!important;
	transition: all .3s ease-in-out 0s;
    -webkit-transition: all .3s ease-in-out 0s;
	border: none;
}

#pagination-container a.page-link{
    background: #ffffff;
    color: #000000;
    margin: 0px 2.5px 0px 2.5px;
}

#pagination-container span.current,
#pagination-container a.page-link:hover{
    background: #05668D;
    color: #ffffff;
}

#pagination-container span.prev,
#pagination-container span.next,
#pagination-container span.current.prev,
#pagination-container span.current.next,
#pagination-container a.prev,
#pagination-container a.next{
	font-family: monospace!important;
	font-size: x-large!important;
	margin: 0px;
	background: -webkit-linear-gradient(#05668D, #02C39A);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#pagination-container span.prev:hover,
#pagination-container span.next:hover,
#pagination-container span.current.prev:hover,
#pagination-container span.current.next:hover,
#pagination-container a.prev:hover,
#pagination-container a.next:hover{
    background: -webkit-linear-gradient(#05668D, #02C39A);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#pagination-container span.current.prev,
#pagination-container span.current.next{
	opacity: 0;
}

/* ------------blogs go back----------- */
#blogs.insidepage .go-back-con {
    margin-bottom: 1rem;
}

#blogs.insidepage .blog-contents{
	margin-top: 9rem;
    margin-bottom: 5rem;
}

#blogs.insidepage .blog-img{
	height: 60vh;
    width: 100%;
    object-fit: cover;
    object-position: 50% 35%;
    margin-top: 2rem;
	margin-bottom: 2rem;
}

#blogs.insidepage .blog-text img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
	margin-bottom: 1rem;
}

/* --------------share con-------------- */
#blogs .share-con {
    margin: 3rem 0px 1rem 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#blogs .share-con .share-links,
#blogs .share-con .likely__widget_facebook,
#blogs .share-con .likely__widget_linkedin,
#blogs .share-con .likely__widget_twitter {
    display: flex!important;
    align-items: center;
    justify-content: center;
}

#blogs .share-con .likely__widget {
	background: linear-gradient(145.68deg, #05668D 16.01%, #028090 36.38%, #00A896 59.97%, #02C39A 84.62%)!important;
    overflow: hidden;
    border-radius: 100%!important;
    height: 40px!important;
    width: 40px;
    margin: 0px 5px 0px 5px!important;
}

#blogs .share-con .likely__icon {
    transition: all 0.50s ease-in-out 0s;
    -webkit-transition: all 0.50s ease-in-out 0s;
    transform: scale(1.0);
}

#blogs .share-con .likely__widget:hover .likely__icon {
	transform: scale(0.9);
}

/* --------------more blogs-------------- */
#blogs.insidepage .grid {
    margin-top: 2rem;
}