/*------------form block----------*/
#contact .form-block {
	padding: 5rem 0px 5rem 0px;
}

#contact .form-block h2, #contact .form-block p{
	text-align: center;
	color: #000000;
}

#contact .form-con {
	margin-top: 3rem;
}

#contact .form-con label {
	font-weight: 500!important;
}

.form-block .pTCcq a {
	width: 0px!important;
	overflow: hidden!important;
}

.form-con .Content__Font-sc-3sh3bs-0 {
	overflow: hidden;
}

.gtocnm {
	display: none!important;
}


.TextControlBase__TextControlBaseContainer-qtroj4-0.kgaCAZ.FieldContainer__FieldLayout-sc-gwguj-0.eYWVUE{
	border-radius: 15px!important;
}

.form-con button {
	width: 100%;
	text-align: center;
}

.SubmitMessage__Container-sc-1hpdxug-0.fnkeXk {
	padding: 17px 41px 17px 41px;
    border-radius: 10px;
    font-family: 'montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    background: #05668D;
    border: 1px solid transparent;
    color: #ffffff;
    transition: all 0.23s ease-in-out 0s;
    -webkit-transition: all 0.23s ease-in-out 0s;
}

button.ButtonBase__ButtonContainer-sc-p43e7i-3.ktBlIG {
	background: transparent!important;
}

.Content__Font-sc-3sh3bs-0 a{
	filter: blur(117px);
}


@media screen and (max-width: 1201px){

}

@media screen and (max-width: 1101px){

}

@media screen and (max-width: 1025px){

}

@media screen and (max-width: 901px){

}

@media screen and (max-width: 601px){

}
