<footer>
	<div class="divider"></div>
	<div class="custom-con">
		<div class="footer-con">
			<a href="#" class="footer-logo">
				<img src="images/icons/OL-logo.svg">
			</a>
			<div class="get-in-touch">
				<p class="body-text-xs-light">Get in touch</p>
				<a href="#" class="footer-link">(+63) 310-040-XXXX</a>
				<a href="#" class="footer-link">onlinelearning@gmail.com</a>
				<br>
				<a href="#" onclick="return false;" class="footer-link">3634 Windy Ridge RoadLiberty Center, IN 46766</a>
			</div>
			<div class="explore">
				<p class="body-text-xs-light">Explore</p>
				<a href="./" class="footer-link home">Home</a>
				<a href="about.html" class="footer-link about">About Us</a>
				<a href="k-12.html" class="footer-link k12">K-12</a>
				<a href="uni.html" class="footer-link uni">UNI</a>
				<a href="admissions.html" class="footer-link admissions">Admissions</a>
				<a href="blogs.html" class="footer-link blogs">Blogs</a>
				<a href="contact.html" class="footer-link contact">Contact us</a>
			</div>
			<div class="follow-us">
				<p class="body-text-xs-light">Follow Us</p>
				<div class="social-con">
					<a href="https://www.facebook.com/" class="follow-link" target="_blank">
						<img src="images/icons/fb.svg" class="fb-ico">
					</a>
					<a href="https://twitter.com/" class="follow-link" target="_blank">
						<img src="images/icons/tw.svg">
					</a>
					<a href="https://www.linkedin.com/" class="follow-link" target="_blank">
						<img src="images/icons/in.svg">
					</a>
					<a href="https://www.youtube.com/" class="follow-link" target="_blank">
						<img src="images/icons/yt.svg">
					</a>
				</div>
			</div>
		</div>
		<div class="footnote-con">
			<p class="footnote-txt">Copyright © 2023 • OnlineLearning</p>
		</div>
	</div>
</footer>