<nav>
	<div class="custom-con">
		<div class="nav-desktop-con">
			<div class="nav-links-con">
				<a href="./" class="nav-logo"><img src="images/icons/OL-logo.svg"></a>
				<div class="nav-links">
					<a href="about.html" class="nav-link about">About Us</a>
					<div class="dropdown">
						<span class="nav-link products">Products</span>
						<div class="dropdown-content">
							<a href="k-12.html" class="dropdown-link k12">K-12</a>
							<a href="uni.html" class="dropdown-link uni">UNI</a>
							<a href="admissions.html" class="dropdown-link admissions">ADMISSIONS</a>
						</div>
					</div>
					<a href="blogs.html" class="nav-link blogs">Blogs</a>
				</div>
			</div>
			<div class="nav-btn-cons">
				<button class="ghost-btn-blue">APP</button>
				<a href="contact.html" class="btn-blue contact">contact us</a>
			</div>
		</div>
		<div class="nav-mobile-con">
			<div class="nav-links-con">
				<a href="./" class="nav-logo"><img src="images/icons/OL-logo.svg"></a>
				<div class="hamburger-con">
					<div id="nav-icon3" class="">
					  <span></span>
					  <span></span>
					  <span></span>
					  <span></span>
					</div>
					<div class="overlay-btn"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="nav-links-content">
		<div class="custom-con">
			<div class="nav-links">
				<a href="about.html" class="nav-link about">About Us</a>
				<div class="mob-drodown">
					<span class="nav-link products">Products</span>
					<div class="mob-dropdown-content">
						<a href="k-12.html" class="dropdown-link k12">K-12</a>
						<a href="uni.html" class="dropdown-link uni">UNI</a>
						<a href="admissions.html" class="dropdown-link admissions">ADMISSIONS</a>
					</div>
				</div>
				<a href="blogs.html" class="nav-link blogs">Blogs</a>
				<div class="nav-btn-grid">
					<button class="ghost-btn-blue">APP</button>
					<a href="contact.html" class="btn-blue contact">contact us</a>
				</div>
			</div>
		</div>
	</div>
</nav>