<section class="partners-block">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2>Trusted by Our Partners</h2>
				<div class="testi-slider">
					<div class="owl-carousel owl-theme">
						<div class="slider-card">
							<div class="qoute-ico"></div>
							<img src="images/icons/colored-logo-2.svg" loading="lazy" class="partner-logo" alt="colored-logo" title="colored-logo" width="auto" height="auto">
							<p>Eget mi proin sed libero enim sed faucibus turpis. Nisl rhoncus mattis rhoncus urna neque viverra justo. Vivamus at augue eget arcu dictum. 
							Ultrices gravida dictum fusce ut placerat orci. Aenean et tortor at risus viverra adipiscing at in. </p>
							<small>Cheyenne R. Salcido</small>
							<small>School Owner</small>
						</div>
						<div class="slider-card">
							<div class="qoute-ico"></div>
							<img src="images/icons/colored-logo-3.svg" loading="lazy" class="partner-logo" alt="colored-logo" title="colored-logo" width="auto" height="auto">
							<p>Eget mi proin sed libero enim sed faucibus turpis. Nisl rhoncus mattis rhoncus urna neque viverra justo. Vivamus at augue eget arcu dictum. 
							Ultrices gravida dictum fusce ut placerat orci. Aenean et tortor at risus viverra adipiscing at in. </p>
							<small>Hilda D. Wiley</small>
							<small>School President</small>
						</div>
						<div class="slider-card">
							<div class="qoute-ico"></div>
							<img src="images/icons/colored-logo-4.svg" loading="lazy" class="partner-logo" alt="colored-logo" title="colored-logo" width="auto" height="auto">
							<p>Eget mi proin sed libero enim sed faucibus turpis. Nisl rhoncus mattis rhoncus urna neque viverra justo. Vivamus at augue eget arcu dictum. 
							Ultrices gravida dictum fusce ut placerat orci. Aenean et tortor at risus viverra adipiscing at in. </p>
							<small>Jacklyn R. Samsel</small>
							<small>School Resgister</small>
						</div>
						<div class="slider-card">
							<div class="qoute-ico"></div>
							<img src="images/icons/colored-logo-5.svg" loading="lazy" class="partner-logo" alt="colored-logo" title="colored-logo" width="auto" height="auto">
							<p>Eget mi proin sed libero enim sed faucibus turpis. Nisl rhoncus mattis rhoncus urna neque viverra justo. Vivamus at augue eget arcu dictum. 
							Ultrices gravida dictum fusce ut placerat orci. Aenean et tortor at risus viverra adipiscing at in. </p>
							<small>Anita R. Jefferson</small>
							<small>Project Manager</small>
						</div>
					</div>
					<div class="owl-controls">
						<div class="custom-nav owl-nav"></div>
					</div>
				</div>
				<div class="logo-slider">
					<div class="owl-carousel owl-theme">
						<div class="logo-card">
							<img src="images/icons/white-logo-1.svg" loading="lazy"  alt="white-logo" title="white-logo" width="auto" height="auto">
						</div>
						<div class="logo-card">
							<img src="images/icons/white-logo-2.svg" loading="lazy"  alt="white-logo" title="white-logo" width="auto" height="auto">
						</div>
						<div class="logo-card">
							<img src="images/icons/white-logo-3.svg" loading="lazy"  alt="white-logo" title="white-logo" width="auto" height="auto">
						</div>
						<div class="logo-card">
							<img src="images/icons/white-logo-4.svg" loading="lazy"  alt="white-logo" title="white-logo" width="auto" height="auto">
						</div>
						<div class="logo-card">
							<img src="images/icons/white-logo-5.svg" loading="lazy"  alt="white-logo" title="white-logo" width="auto" height="auto">
						</div>
						<div class="logo-card">
							<img src="images/icons/white-logo-6.svg" loading="lazy"  alt="white-logo" title="white-logo" width="auto" height="auto">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>