<div class="custom-con">
	<h2 class="block-title">Trusted by Our Partners </h2>
	<div class="partners-slider">
		<div class="testi-slider owl-carousel owl-theme">
			<div class="slider-card">
				<img src="images/icons/qoute.svg" class="qoute-ico">
				<img src="images/icons/colored-logo-3.svg" class="partner-logo">
				<p class="body-text-xs-light">Eget mi proin sed libero enim sed faucibus turpis. Nisl rhoncus mattis rhoncus urna neque viverra justo. Vivamus at augue eget arcu dictum. Ultrices gravida dictum fusce ut placerat orci. Aenean et tortor at risus viverra adipiscing at in. </p>
				<div class="testi-name"><p class="body-text-xs-light">Cheyenne R. Salcido</p></div>
				<div class="footnote-txt">School Owner</div>
			</div>

			<div class="slider-card">
				<img src="images/icons/qoute.svg" class="qoute-ico">
				<img src="images/icons/colored-logo-2.svg" class="partner-logo">
				<p class="body-text-xs-light">Eget mi proin sed libero enim sed faucibus turpis. Nisl rhoncus mattis rhoncus urna neque viverra justo. Vivamus at augue eget arcu dictum. Ultrices gravida dictum fusce ut placerat orci. Aenean et tortor at risus viverra adipiscing at in. </p>
				<div class="testi-name"><p class="body-text-xs-light">Hilda D. Wiley</p></div>
				<div class="footnote-txt">School President</div>
			</div>

			<div class="slider-card">
				<img src="images/icons/qoute.svg" class="qoute-ico">
				<img src="images/icons/colored-logo-4.svg" class="partner-logo">
				<p class="body-text-xs-light">Eget mi proin sed libero enim sed faucibus turpis. Nisl rhoncus mattis rhoncus urna neque viverra justo. Vivamus at augue eget arcu dictum. Ultrices gravida dictum fusce ut placerat orci. Aenean et tortor at risus viverra adipiscing at in. </p>
				<div class="testi-name"><p class="body-text-xs-light">Jacklyn R. Samsel</p></div>
				<div class="footnote-txt">School Resgister</div>
			</div>
			<div class="slider-card">
				<img src="images/icons/qoute.svg" class="qoute-ico">
				<img src="images/icons/colored-logo-5.svg" class="partner-logo">
				<p class="body-text-xs-light">Eget mi proin sed libero enim sed faucibus turpis. Nisl rhoncus mattis rhoncus urna neque viverra justo. Vivamus at augue eget arcu dictum. Ultrices gravida dictum fusce ut placerat orci. Aenean et tortor at risus viverra adipiscing at in. </p>
				<div class="testi-name"><p class="body-text-xs-light">Anita R. Jefferson</p></div>
				<div class="footnote-txt">Project Manager</div>
			</div>
		</div>
		<div class="owl-controls">
            <div class="custom-nav owl-nav"></div>
        </div>
	</div>
	<div class="logo-slider">
		<div class="owl-carousel owl-theme">
			<div class="logo-card">
				<img src="images/icons/white-logo-1.svg">
			</div>
			<div class="logo-card">
				<img src="images/icons/white-logo-2.svg">
			</div>
			<div class="logo-card">
				<img src="images/icons/white-logo-3.svg">
			</div>
			<div class="logo-card">
				<img src="images/icons/white-logo-4.svg">
			</div>
			<div class="logo-card">
				<img src="images/icons/white-logo-5.svg">
			</div>
			<div class="logo-card">
				<img src="images/icons/white-logo-6.svg">
			</div>
		</div>
	</div>
</div>